<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blog Post - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link href="../../static/css/home.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Start Bootstrap</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Something Important</a>
                    </li>
                    <li>
                        <a href="#">Something Even MORE Important</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8">

                <!-- Blog Post -->

                <!-- Title -->
                <h1>Gin, Magic, Music, and Spirit</h1>

                <!-- Author -->
                <p class="lead">
                    by <a href="#">GP</a>
                </p>

                <hr>

                <!-- Date/Time -->
                <p><span class="glyphicon glyphicon-time"></span> Posted on February 9th, 2015 at 11:00 PM</p>

                <hr>

                <!-- Preview Image -->
                <img class="img-responsive" src="../../static/images/startups/rain.jpg" alt="">

                <hr>

                <!-- Post Content -->
                <p>
                    I love reading blogs from other startup guys, cause if they are crazy enough to be working on maintaining a blog while they crank out 80+ hour work weeks
                    you get a unique sight – a raw and passionate perspective on life from some really interesting individuals. Now granted a lot of these end up being really
                    technical or bit out there – but I feel its worth it when you find that one article where you think to yourself “Damn I gotta meet this dude (or lady)”.
                    Usually that is due to how passionate the guy is, but the thing that got me to write this article is not passion but Gin
                </p>
                <p>
                    Not to long ago I was reading a blog post from a cofounder who was in the Tech Stars program and he was talking about his experience which to be honest I
                    don’t remember much – except one line where he said something to the effect “its 14 hour days, and its stress and you just gotta cope with it; everyone
                    does in a different way – my preference is Gin.”
                </p>
                <p>
                    To be honest my first thought to this was ‘wow I haven’t heard someone be so honest with a drinking coping mechanism since Vandy.’ My next thought was
                    ‘Really Gin? What’s wrong with this guy? Who legitimately likes Gin unless they’re trying to impress classy women – But… on a more serious note I
                    appreciate the honesty and he’s not alone. Now I’m not writing this article to rag on this guy, I’m writing this article to actually talk about a good
                    friend of mine who I respect a lot – and how I admire how he copes with stress.
                </p>
                <p>
                    The individual I am talking about (let’s call him TaCo) is at Vandy med and the kid gets 6 hours of sleep a night all 7 days a week (if he’s lucky) and
                    maybe 4-8 hours of free-time a week if he schedules it right. Between the schedule and the overall med school thing you can imagine this kid has got a lot
                    of stress on his plate, but he copes with it in a way which I can only describe as part admiration and part envy (and part I try to emulate).
                </p>
                <p>
                    So what’s his secret, to handling stress?
                </p>
                <p>
                    Well it’s Magic.
                </p>
                <p>
                    Seriously the kid just picked up the hobby and became obsessed with it. He practices in his free time, with his friends, and I even bet with his patients.
                    He has a knack for finding the joy in an activity versus being overwhelmed by its frustrating moments.
                </p>
                <p>
                    It’s also Music.
                </p>
                <p>
                    We all live in Nashville, so we have a pretty amazing music scene here. But TaCo – and his whole family for that matter – LOVE music (even by Nashville
                    standards). TaCo in particular loves folksy Blue Grass, and he is quite good at the bongo, guitar, harmonica and (I think) the mandolin and he jams all the
                    time. Besides deriving joy from playing himself, he also loves just listening to music. So I would say the takeaway here is the appreciation of art for the
                    sake that it brings joy – which I would argue is harder said than done because we so easily try to make art about ourselves than the joy it provides.
                </p>
                <p>
                    And the most important, Spirit.
                </p>
                <p>
                    I know this point may be a bit more controversial than the previous points, but I can also say as a direct witness – this is the most impactful aspect to
                    dealing with stress. TaCo has a really solid relationship with Christ and it is clearly played out in his life. Whether it comes from reading his bible in
                    the morning, singing worship music in his room before he goes to bed, or prayer throughout the day; it is clear that his relationship with Jesus gives him
                    peace. It is so overwhelmingly clear because that is exactly what it is – it’s an overwhelming and contagious peace that I am the benefactor of simple by
                    proximity. And it is a peace that can conquer any stress.
                </p>
                <p>
                    Don’t worry about anything; instead, pray about everything. Tell God what you need, and thank him for all he has done. Then you will experience God’s
                    peace, which exceeds anything we can understand.
                </p>
                <p>
                    Philippians 4:6-7
                </p>
                <p>
                    --Mazzone
                </p>

                <hr>

                <!-- Blog Comments -->

                <!-- Comments Form -->
                <div class="well">
                    <h4>Leave a Comment:</h4>
                    <form role="form">
                        <div class="form-group">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>

                <hr>

                <!-- Posted Comments -->

                <!-- Comment -->
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="http://placehold.it/64x64" alt="">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Start Bootstrap
                            <small>August 25, 2014 at 9:30 PM</small>
                        </h4>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </div>
                </div>

                <!-- Comment -->
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="http://placehold.it/64x64" alt="">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Start Bootstrap
                            <small>August 25, 2014 at 9:30 PM</small>
                        </h4>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        <!-- Nested Comment -->
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="http://placehold.it/64x64" alt="">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">Nested Start Bootstrap
                                    <small>August 25, 2014 at 9:30 PM</small>
                                </h4>
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                            </div>
                        </div>
                        <!-- End Nested Comment -->
                    </div>
                </div>

            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Blog Search Well -->
                <div class="well">
                    <h4>Blog Search</h4>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                        </button>
                        </span>
                    </div>
                    <!-- /.input-group -->
                </div>

                <!-- Blog Categories Well -->
                <div class="well">
                    <h4>Blog Categories</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>

                <!-- Side Widget Well -->
                <div class="well">
                    <h4>Side Widget Well</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
                </div>

            </div>

        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
