<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>GP's Blog</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link href="../../static/css/home.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/index">GP's Blog</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="#">Something Important</a>
                    </li>
                    <li>
                        <a href="#">Something Even MORE Important</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">GP's Blog Sections
                    <small>Look my Blog has categories!! Exciting!!</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 portfolio-item">
                <a href="/books">
                    <img class="img-responsive" src="../../static/images/book.jpg" alt="">
                </a>
                <h3>
                    <a href="/books">Books</a>
                </h3>
                <p>These are various thoughts/ ramblings I have on various books I have read... And by 'read' I primarily mean listened too.</p>
                <!-- inset quote as layover from Andrew about driving and taking cab-->
            </div>
            <div class="col-md-6 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="../../static/images/bar.jpg" alt="">
                </a>
                <h3>
                    <a href="#">Drinks</a>
                </h3>
                <p>It comes in pints?!</p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="../../static/images/old_church.jpeg" alt="">
                </a>
                <h3>
                    <a href="#">Sermons</a>
                </h3>
                <p>Everyone's Welcome. --CP</p>
            </div>
            <div class="col-md-6 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="../../static/images/space001.jpg" alt="">
                </a>
                <h3>
                    <a href="#">Meta</a>
                </h3>
                <p>This probably deserves its own section.</p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="../../static/images/pipe.jpg" alt="">
                </a>
                <h3>
                    <a href="#">Tobacco</a>
                </h3>
                <p>One of the cooler ways to get cancer.</p>
            </div>
            <div class="col-md-6 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="../../static/images/pelican.jpeg" alt="">
                </a>
                <h3>
                    <a href="#">Ideas</a>
                </h3>
                <p>They always seem to be so fleeting...</p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="../../static/images/ps4.jpg" alt="">
                </a>
                <h3>
                    <a href="#">Games</a>
                </h3>
                <p>Who doesn't love a good game?</p>
            </div>
            <div class="col-md-6 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="../../static/images/scubaBNW.jpeg" alt="">
                </a>
                <h3>
                    <a href="/startups">Startups</a>
                </h3>
                <p>Speaking of fun games.</p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="../../static/images/spaceship.jpg" alt="">
                </a>
                <h3>
                    <a href="#">Inspiration</a>
                </h3>
                <p>With all that talk of startups I think a little inspiration is in order.</p>
            </div>
            <div class="col-md-6 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="../../static/images/Picasso.jpg" alt="">
                </a>
                <h3>
                    <a href="#">Art</a>
                </h3>
                <p>I should probably look cultured if any women were to somehow stumble across this blog.</p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="../../static/images/father-banksy.jpg" alt="">
                </a>
                <h3>
                    <a href="#">Humor</a>
                </h3>
                <p>Hahahahahahahah -- my friends when I'm not trying to tell jokes.</p>
            </div>
            <div class="col-md-6 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="../../static/images/fox.jpeg" alt="">
                </a>
                <h3>
                    <a href="#">Hedgehog</a>
                </h3>
                <p>This is for the fox.</p>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
